{% extends 'users/base_users.html' %}


{% block title %}
{{ block.super }} - {{ profile.name }}
{% endblock %}


{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Card -->
            <aside class="col-lg-3">
                <div class="card bg-light text-center mb-4">                                        
                    <div class="card-body">
                        <a class="d-block link-primary" href="{% url 'users:update_profile' %}">Edit Profile</a>
                        <a class="d-block link-primary mb-3" href="{{ profile.get_absolute_url }}">View Profile</a>
                        <img src="{{ profile.image_URL }}" class="cardAvatar w-50 mb-3" alt="Profile Image">
                        <h5 class="card-title mb-3">{{ profile.name }}</h5>
                        <h6 class="card-subtitle mb-4 text-muted">
                            {{ profile.short_intro }}
                        </h6>
                        {% if profile.location %}
                            <p class="card-text mb-3">
                                Based in {{ profile.location }}
                            </p>
                        {% endif %}                    
                        <div class="iconSet d-flex justify-content-center">
                            {% if profile.social_github %}
                                <a href="{{ profile.social_github }}"><i class="bi bi-github"></i></a>
                            {% endif %}
                            {% if profile.social_twitter %}
                                <a href="{{ profile.social_twitter }}"><i class="bi bi-twitter"></i></a>
                            {% endif %}
                            {% if profile.social_linkedin %}
                                <a href="{{ profile.social_linkedin }}"><i class="bi bi-linkedin"></i></a>
                            {% endif %}
                            {% if profile.social_youtube %}
                                <a href="{{ profile.social_youtube }}"><i class="bi bi-youtube"></i></a>
                            {% endif %}
                            {% if profile.social_website %}
                                <a href="{{ profile.social_website }}"><i class="bi bi-globe"></i></a>
                            {% endif %}
                        </div>                    
                    </div>
                </div>
            </aside>
            <!-- Main -->
            <main class="col-lg-9">
                <h2>About Me</h2>
                <p class="mb-4">{{ profile.bio }}</p>

                <div class="hstack mb-1">
                    <h2>Skills</h2>
                    <a class="btn btn-outline-primary ms-auto" href="{% url 'users:create_skill' %}">Add a Skill</a>
                </div>                
                {% for skill in profile.skills.all %}
                    <div class="hstack mb-1">
                        <div class="me-2">
                            {{ skill.name }}
                            <span class="text-muted">{{ skill.description }}</span></div>                        
                        <a class="link-secondary ms-auto" href="{{ skill.get_update_url }}">Edit</a>
                        <div class="vr mx-3"></div>
                        <a class="link-secondary" href="{{ skill.get_delete_url }}">Delete</a> <br>
                    </div>
                {% endfor %}
                                
                <div class="hstack mt-4 mb-2">
                    <h2>Projects</h2>
                    <a class="btn btn-outline-primary ms-auto" href="{% url 'projects:create_project' %}">Add a Project</a>
                </div>
            
                <div class="row g-3">
                    {% for project in profile.projects.all %}
                        <div class="col-3">
                            <a class="text-reset text-decoration-none" href="{{ project.get_absolute_url }}">
                                <img src="{{ project.image_URL }}" class="w-100" alt="Project Image"></a>
                        </div>
                        <div class="col-6">
                            <a class="text-reset text-decoration-none" href="{{ project.get_absolute_url }}">
                                <h4>{{ project.title }}</h4></a>
                            <p>{{ project.description|slice:"60" }}</p>
                        </div>
                        <div class="col-3 d-flex flex-column justify-content-center align-items-end">                            
                            <a class="link-secondary mb-1" href="{{ project.get_update_url }}">Edit</a>
                            <a class="link-secondary" href="{{ project.get_delete_url }}?next=/account">Delete</a>
                        </div>  
                    {% empty %}
                        <p>You haven't submitted any projects yet</p>    
                    {% endfor %}                    
                </div>                                    
            </main>    
        </div>
    </div>
</section>
{% endblock %}