{% load static %}
<div class="card bg-light">
    <a class="text-reset text-decoration-none" href="{{ project.get_absolute_url }}">
        <img src="{{ project.image_URL }}" class="card-img-top" alt="Project Image">
    </a>
    <div class="card-body">
        <a class="text-reset text-decoration-none" href="{{ project.get_absolute_url }}">
            <h5 class="card-title">{{ project.title }}</h5>
        </a>
        <a class="text-reset text-decoration-none" href="{{ project.owner.get_absolute_url }}">
            <h6 class="card-subtitle mb-2 text-muted">
                By {{ project.owner.name }}</h6>
            </a>
        <p class="card-text">
            {{ project.vote_ratio }}% Positive Feedback
            ({{ project.vote_total }} vote{{ project.vote_total|pluralize }}) 
        </p>
        {% for tag in project.tags.all|slice:"5" %}
            <span class="badge bg-primary">{{ tag }}</span>
        {% endfor %}
    </div>
</div>