.cardAvatar {
    width: 20%;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #9EC5FE;
}

.iconSet i {
    margin: 0 5px;
    font-size: 1.5em;
}

.commentAvatar {
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #9EC5FE;
}

.authLogo {
    width: 50px;
}